.footer{
    background: #fff;
    text-align: center;
    padding: 0px 0px 20px;
    color: $text-col;
}

.footer-links{
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    & a{
        font-size: 1.1em;
        margin: 0px 10px;
        text-decoration: none;
        color: black;
        background: black;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        color: white;
    }
}

@media only screen and (max-width: 320px) {
    .footer-links a{
        transform: scale(0.7);
        margin: 0px 5px;
    }
}